fastapi==0.134.0
uvicorn==0.41.0

transformers==5.2.0
huggingface_hub==1.5.0
tokenizers==0.22.2
safetensors==0.7.0
accelerate==0.34.2

torch==2.10.0

sentence-transformers==5.2.3
scikit-learn==1.8.0
scipy==1.17.1
numpy==2.4.2

soundfile==0.12.1
sentencepiece==0.2.0
protobuf==4.25.3
tiktoken==0.7.0

python-multipart==0.0.9

pydantic==2.12.5
typing_extensions==4.15.0
tqdm==4.67.3